# Question 5
Step 1. Import the necessary libraries
Step 2. Import the dataset from this address.
Step 3. Assign it to a variable called chipo.
Step 4. See the first 10 entries
Step 5. What is the number of observations in the dataset?
Step 6. What is the number of columns in the dataset?
Step 7. Print the name of all the columns.
Step 8. How is the dataset indexed?
Step 9. Which was the most-ordered item?
Step 10. For the most-ordered item, how many items were ordered?
Step 11. What was the most ordered item in the choice_description column?
Step 12. How many items were orderd in total?
Step 13.
• Turn the item price into a float
• Check the item price type
• Create a lambda function and change the type of item price
• Check the item price type
Step 14. How much was the revenue for the period in the dataset?
Step 15. How many orders were made in the period?
Step 16. What is the average revenue amount per order?
Step 17. How many different items are sold

Step 1. Import the necessary libraries

In [1]:
import pandas as pd

Step 2. Import the dataset from this address.
Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

Step 4. See the first 10 entries.

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

Step 5. What is the number of observations in the dataset?

In [4]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

Step 6. What is the number of columns in the dataset?

In [5]:
chipo.shape[1]

5

Step 7. Print the name of all the columns.

In [6]:
chipo.columns.values

array(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'], dtype=object)

Step 8. How is the dataset indexed?

In [7]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

Step 9. Which was the most-ordered item?

In [8]:
chipo.groupby(['item_name']).quantity.sum().sort_values(ascending = False).index[0]

'Chicken Bowl'

In [9]:
chipo.groupby('item_name').sum().sort_values(['quantity'], ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

Step 10. For the most-ordered item, how many items were ordered?

In [10]:
chipo.groupby(['item_name']).quantity.sum().sort_values(ascending = False).values[0]

761

In [11]:
chipo.groupby('item_name').sum().sort_values(['quantity'], ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

Step 11. What was the most ordered item in the choice_description column?

In [12]:
chipo.groupby(['choice_description']).quantity.sum().sort_values(ascending = False).index[0]

'[Diet Coke]'

In [13]:
chipo.groupby('choice_description').sum().sort_values(['quantity'], ascending=False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

Step 12. How many items were orderd in total?

In [14]:
chipo.quantity.sum()

4972

Step 13. Turn the item price into a float

In [16]:
chipo['item_price'] = chipo.item_price.str.slice(1).astype(float)

AttributeError: Can only use .str accessor with string values!

Step 13.a. Check the item price type

In [17]:
chipo.dtypes.item_price

dtype('float64')

Step 13.b. Create a lambda function and change the type of item price

In [18]:
chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:]))

TypeError: 'float' object is not subscriptable

Step 13.c. Check the item price type

In [19]:
chipo.item_price.dtypes

dtype('float64')

Step 14. How much was the revenue for the period in the dataset?

In [20]:
chipo['revenue'] = chipo['quantity']*chipo.item_price
total_revenue = chipo.revenue.sum()
total_revenue

39237.02

Step 15. How many orders were made in the period?

In [21]:
total_order = chipo.order_id.nunique()
total_order

1834

In [22]:
chipo.order_id.value_counts().count()

1834

Step 16. What is the average revenue amount per order?

In [23]:
total_revenue / total_order

21.39423118865867

In [24]:
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

Step 17. How many different items are sold?

In [25]:
chipo.item_name.nunique()

50

In [26]:
chipo.item_name.value_counts().count()

50