# Question 4
Wind Statistics 
The data have been modified to contain some missing values, identified by NaN.
Using pandas should make this exercise easier, in particular for the bonus question.
You should be able to perform all of these operations without using a for loop or 
other looping construct.
The data in 'wind.data' has the following format:
Yr Mo Dy RPT VAL ROS KIL SHA BIR DUB CLA MUL CLO BEL 
MAL
61 1 1 15.04 14.96 13.17 9.29 NaN 9.87 13.67 10.25 10.83 12.58 18.50 15.04
61 1 2 14.71 NaN 10.83 6.50 12.62 7.67 11.50 10.04 9.79 9.67 17.54 13.83
61 1 3 18.50 16.88 12.33 10.13 11.17 6.17 11.25 NaN 8.50 7.67 12.75 12.71
 BDAT 1004 â€“ Data Programming 
Page 3 of 5
W2021
BDAT 1004 Computer Studies
The first three columns are year, month, and day. The remaining 12 columns are 
average windspeeds in knots at 12 locations in Ireland on that day.
Step 1. Import the necessary libraries
Step 2. Import the dataset from the attached file wind.txt
Step 3. Assign it to a variable called data and replace the first 3 columns by a proper 
datetime index.
Step 4. Year 2061? Do we really have data from this year? Create a function to fix it 
and apply it.
Step 5. Set the right dates as the index. Pay attention at the data type, it should be 
datetime64[ns].
Step 6. Compute how many values are missing for each location over the entire 
record.They should be ignored in all calculations below.
Step 7. Compute how many non-missing values there are in total.
Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and 
all the times.
A single number for the entire dataset.
Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean 
windspeeds and standard deviations of the windspeeds at each location over all the 
days
A different set of numbers for each location.
Step 10. Create a DataFrame called day_stats and calculate the min, max and mean 
windspeed and standard deviations of the windspeeds across all the locations at each 
day.
A different set of numbers for each day.
Step 11. Find the average windspeed in January for each location.
Treat January 1961 and January 1962 both as January.
Step 12. Downsample the record to a yearly frequency for each location.
Step 13. Downsample the record to a monthly frequency for each location.
Step 14. Downsample the record to a weekly frequency for each location.
Step 15. Calculate the min, max and mean windspeeds and standard deviations of the 
windspeeds across all locations for each week (assume that the first week starts on 
January 2 1961) for the first 52 weeks

Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np
import datetime as dt

Step 2. Import the dataset from the attached file wind.txt

In [3]:
pd.read_csv("wind.txt", sep=' ')

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71

Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [4]:
data=pd.read_csv("wind.txt", sep=' ')
data["Date"] = pd.to_datetime(data[["Yr","Mo","Dy"]].astype(str).agg('-'.join, axis=1))
data = data.drop(columns=["Yr","Mo","Dy"])
data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,2061-01-01
1,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,2061-01-02
2,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,2061-01-03

Step 4. Year 2061 is seemingly improper. Convert every year which are < 70 to 19XX instead of 20XX

In [5]:
data["Date"] = np.where(pd.DatetimeIndex(data["Date"]).year < 2000,data.Date,data.Date - pd.offsets.DateOffset(years=100))

Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns]

In [6]:
newData = data.set_index("Date")
newData.index.astype("datetime64[ns]")

DatetimeIndex(['1961-01-01', '1961-01-02', '1961-01-03'], dtype='datetime64[ns]', name='Date', freq=None)

Step 6. Compute how many values are missing for each location over the entire record

In [7]:
print(newData.isnull().values.ravel().sum())

3

Step 7. Compute how many non-missing values there are in total.

In [8]:
x=newData.count()
print("Total Non-missing values are :",x.sum())

Total Non-missing values are : 33

Step 8. Calculate the mean windspeeds over all the locations and all the times

In [9]:
y = newData.mean()
y.mean()

12.053333333333333

Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days

In [10]:
def stats(x):
    x = pd.Series(x)
    Min = x.min()
    Max = x.max()
    Mean = x.mean()
    Std = x.std()
    res = [Min,Max,Mean,Std]
    indx = ["Min","Max","Mean","Std"]
    res = pd.Series(res,index=indx)
    return res
loc_stats = newData.apply(stats)
loc_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Min,14.710000,14.960000,10.830000,6.500000,11.170000,6.170000,11.250000,10.040000,8.500000,7.670000,12.750000,12.71000
Max,18.500000,16.880000,13.170000,10.130000,12.620000,9.870000,13.670000,10.250000,10.830000,12.580000,18.500000,15.04000
Mean,16.083333,15.920000,12.110000,8.640000,11.895000,7.903333,12.140000,10.145000,9.706667,9.973333,16.263333,13.86000
Std,2.099389,1.357645,1.185411,1.900289,1.025305,1.861003,1.330902,0.148492,1.167233,2.469015,3.080265,1.16529

Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

In [11]:
day_stats = newData.apply(stats,axis=1)
day_stats.head()

             Min    Max       Mean       Std
Date
1961-01-01  9.29  18.50  13.018182  2.808875
1961-01-02  6.50  17.54  11.336364  3.188994
1961-01-03  6.17  18.50  11.641818  3.681912

Step 11. Find the average windspeed in January for each location.

In [12]:
january_data = newData[newData.index.month == 1]
print ("January windspeeds:")
print (january_data.mean())

January windspeeds:
RPT    16.083333
VAL    15.920000
ROS    12.110000
KIL     8.640000
SHA    11.895000
BIR     7.903333
DUB    12.140000
CLA    10.145000
MUL     9.706667
CLO     9.973333
BEL    16.263333
MAL    13.860000
dtype: float64

Step 12. Downsample the record to a yearly frequency for each location.

In [13]:
print( "Yearly:\n", newData.resample('A').mean())

Yearly:
                   RPT    VAL    ROS   KIL     SHA       BIR    DUB     CLA  \
Date
1961-12-31  16.083333  15.92  12.11  8.64  11.895  7.903333  12.14  10.145

                 MUL       CLO        BEL    MAL
Date
1961-12-31  9.706667  9.973333  16.263333  13.86

Step 13. Downsample the record to a monthly frequency for each location

In [14]:
print ("Monthly:", newData.resample('M').mean())

Monthly:                   RPT    VAL    ROS   KIL     SHA       BIR    DUB     CLA  \
Date
1961-01-31  16.083333  15.92  12.11  8.64  11.895  7.903333  12.14  10.145

                 MUL       CLO        BEL    MAL
Date
1961-01-31  9.706667  9.973333  16.263333  13.86

Step 14. Downsample the record to a weekly frequency for each location.

In [15]:
print ("Weekly:", newData.resample('W').mean())

Weekly:                RPT    VAL    ROS    KIL     SHA   BIR     DUB    CLA     MUL  \
Date
1961-01-01  15.040  14.96  13.17  9.290     NaN  9.87  13.670  10.25  10.830
1961-01-08  16.605  16.88  11.58  8.315  11.895  6.92  11.375  10.04   9.145

              CLO     BEL    MAL
Date
1961-01-01  12.58  18.500  15.04
1961-01-08   8.67  15.145  13.27

Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [18]:
first_year = newData[newData.index.year == 1961]
stats1 = newData.resample('W').mean().apply(lambda x: x.describe())
print (stats1)

             RPT        VAL      ROS       KIL     SHA       BIR       DUB  \
count   2.000000   2.000000   2.0000  2.000000   1.000  2.000000   2.00000
mean   15.822500  15.920000  12.3750  8.802500  11.895  8.395000  12.52250
std     1.106622   1.357645   1.1243  0.689429     NaN  2.085965   1.62281
min    15.040000  14.960000  11.5800  8.315000  11.895  6.920000  11.37500
25%    15.431250  15.440000  11.9775  8.558750  11.895  7.657500  11.94875
50%    15.822500  15.920000  12.3750  8.802500  11.895  8.395000  12.52250
75%    16.213750  16.400000  12.7725  9.046250  11.895  9.132500  13.09625
max    16.605000  16.880000  13.1700  9.290000  11.895  9.870000  13.67000

             CLA        MUL        CLO        BEL        MAL
count   2.000000   2.000000   2.000000   2.000000   2.000000
mean   10.145000   9.987500  10.625000  16.822500  14.155000
std     0.148492   1.191475   2.764788   2.372343   1.251579
min    10.040000   9.145000   8.670000  15.145000  13.270000
25%    10.092500   9.566250   9.647500  15.983750  13.712500
50%    10.145000   9.987500  10.625000  16.822500  14.155000
75%    10.197500  10.408750  11.602500  17.661250  14.597500
max    10.250000  10.830000  12.580000  18.500000  15.040000